.carrossel {
  display: flex;
  align-items: center;
  width: 100vw;
  position: relative;
  overflow: hidden;

  .displayImg {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    flex: 0 0 100%;
    display: block;
    transition: .5s;
  }

  .btnsActions {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    bottom: 0%;
    width: 100%;
    padding: 20px;
    /* background-color: red; */

    .labels {
      display: flex;
      gap: 5px;

      label {
        cursor: pointer;
        display: block;
        width: 12px;
        height: 12px;
        /* background-color: red; */
        border: 1px solid #fff;
        border-radius: 50%;
      }

      input[type="radio"] {
        display: none;
      }

      .input1:checked+.label1 {
        background-color: #fff;
      }

      .input2:checked+.label2 {
        background-color: #fff;
      }

      .input3:checked+.label3 {
        background-color: #fff;
      }
    }

    button {
      cursor: pointer;
      width: 60px;
      height: 60px;
      border: none;
      background-color: #ffffff7e;
      border-radius: 50%;
      transition: .5s;

      &:hover {
        background-color: #ffffffb9;
      }
    }
  }
}