.loginCotaianer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding: 10px;
    /* background-color: red; */
    border: 2px solid var(--principal-color);
    border-radius: 5px;

    h3 {
      font-size: 2.5rem;
      letter-spacing: 3px;
      font-weight: 300;
      margin: 20px 0;
    }

    form {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 20px;

      div {
        position: relative;
        padding: 5px;
        border-bottom: 1px solid #111;
        
        input {
          border: none;
          outline: none;
          width: 100%;
        }

        label {
          position: absolute;
          left: 5px;
          background-color: #fff;
          transform: translateY(0px);
          transition: .5s;
        }

        input:focus + label,
        input:valid + label {
          transform: translateY(-20px);
        }
      }
    }
  }
}
