.loginCotaianer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding: 10px;
    /* background-color: red; */
    /* border: 2px solid var(--principal-color); */
    border-radius: 5px;
    box-shadow: 0px 0px 10px 4px #11111179;

    h3 {
      font-size: 2.5rem;
      letter-spacing: 3px;
      font-weight: 300;
      margin: 20px 0;
    }

    form {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 20px;

      div {
        position: relative;
        padding: 10px;
        border: 1px solid #888;
        border-radius: 10px;

        &:focus-within {
           border-color: var(--principal-color);
        }

        input {
          border: none;
          outline: none;
          width: 100%;
        }

        label {
          position: absolute;
          left: 5px;
          color: #444;
          background-color: #fff;
          transform: translateY(0px);
          transition: .5s;
        }

        input:focus+label,
        input:valid+label {
          transform: translateY(-20px);
          color: #111;
        }

        svg {
          cursor: pointer;
          background-color: transparent;
          border: none;
          position: absolute;
          transform: translate(-25px, -4px);
        }

        .hide {
          display: none;
        }
      }

      input[type="submit"] {
        cursor: pointer;
        background-color: var(--principal-color);
        border: 1px solid transparent;
        padding: 10px;
        font-size: 1.2rem;
        color: #fff;
        text-transform: uppercase;
        transition: .5s;

        &:hover {
        background-color: transparent;
        border-color: var(--principal-color);
        color: var(--principal-color);
        letter-spacing: 3px;
        }
      }
    }

    .linkChangePage {
      margin: 30px 0 10px;

      a {
        color: var(--principal-color);
      }
    }
  }
}