.navbar {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0 30px;

  a, .btnDown {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
    font-size: 1.3rem;
    background-color: var(--principal-color);
    padding: 5px 10px;
    color: #fff;
    transition: .5s;

    &:hover {
      border-radius: 10px;
    }
  }

  span.btnDown {
    position: relative;

    div {
      display: none;
      position: absolute;
      top: 30px;
      width: 100%;
      
      a {
        text-align: end;
        padding: 3px;
        transition: .5s;

        &:hover {
          background-color: var(--secondary-color);
          color: #fff;
        }
      }

      &.open {
        display: block;
      }
    }
  }

  .btnLogout {
    background-color: #a00909;
    padding: 5px;
    width: 100px;
    font-size: 1.1rem;
    border: 1px solid #a00909;
    color: #fff;
    transition: .5s;

    &:hover {
      cursor: pointer;
      background-color: transparent;
      color: #a00909;
      border-radius: 10px;
      letter-spacing: 3px;
    }
  }
}