.containerLogo {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 25%;
  flex-grow: 1;

  img {
    width: 100px;
  }

  h1 {
    color: var(--secondary-color);
    span {
      color: var(--principal-color);
    }
  }
}

@media (max-width: 500px) {
  h1 {
    display: none;
  }
}