.containerHome {
  display: flex;
  flex-direction: column;
  gap: 3px;

  .title {
    padding: 5px;
    margin: 10px;
    border-bottom: 1px solid #333;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
  }
}