.containerCreateProduct {

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      border: 1px solid var(--principal-color);
      border-radius: 10px;
      width: 400px;
      padding: 10px;

      h3 {
        font-size: 1.8rem;
        font-weight: 400;
        letter-spacing: 3px;
        text-transform: uppercase;
      }

      div {
        position: relative;
        border: 1px solid #111;
        padding: 10px;
        border-radius: 20px;

        label {
          position: absolute;
          left: 10px;
          top: -10px;
          background-color: #fff;
        }

        input {
          width: 100%;
          border: none;
          outline: none;
        }
      }

      input[type="submit"] {
        cursor: pointer;
        background-color: var(--principal-color);
        border: 1px solid transparent;
        padding: 10px;
        font-size: 1.2rem;
        border-radius: 10px;
        color: #fff;
        text-transform: uppercase;
        transition: .5s;

        &:hover {
        background-color: transparent;
        border-color: var(--principal-color);
        color: var(--principal-color);
        letter-spacing: 3px;
        }
      }
    }
  }
}