.containerProduct {
  /* padding: 100px; */

  section {
    display: flex;
    gap: 10px;
    padding: 150px 100px;

    div.images {
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 40%;

      img.principalImg {
        width: 400px;
        /* height: 530px; */
        object-fit: cover;
      }


      .othersImgs {
        display: flex;
        gap: 5px;

        img {
          cursor: pointer;
          width: 100px;
          /* height: 130px; */
          object-fit: cover;
        }
      }

      .btnsActions {
        position: absolute;
        top: 50%;
        display: flex;
        justify-content: space-between;
        width: 400px;

        button {
          cursor: pointer;
          height: 75px;
          border: none;
          background-color: #33333360;
          color: #fff;
          transition: .5s;

          &:hover {
            background-color: #333333c2;
          }
        }
      }
    }

    div.details {
      width: 60%;

      h3 {
        font-size: 2rem;
        font-weight: 400;
      }

      .price {
        font-weight: 600;
        font-size: 2.5rem;
        color: var(--principal-color);
      }

      .btnbuy {
        cursor: pointer;
        width: 400px;
        padding: 5px;
        font-size: 1.3rem;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin: 30px 0;
        border: 2px solid var(--principal-color);
        color: var(--principal-color);
        transition: .5S;

        &:hover {
          background-color: var(--principal-color);
          color: #FFF;
          letter-spacing: 4px;
          font-size: 1.4rem;
        }

      }
    }
  }
}