.containerProduct {
  padding: 100px;

  section {
    display: flex;
    gap: 10px;

    div.images {
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 40%;

      img {
        display: block;
        border: 1px solid #000;

        &.principalImg {
          width: 400px;
          height: 530px;
        }
      }

      .othersImgs {
        display: flex;
        gap: 5px;

        img {
          width: 100px;
          height: 140px;
        }
      }
    }

    div.details {
      width: 60%;

      h3 {
        font-size: 2rem;
        font-weight: 400;
      }

      .price {
        font-weight: 600;
        font-size: 2.5rem;
        color: var(--principal-color);
      }

      .btnbuy {
        cursor: pointer;
        width: 400px;
        padding: 5px;
        font-size: 1.3rem;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin: 30px 0;
        border: 2px solid var(--principal-color);
        color: var(--principal-color);
        transition: .5S;

        &:hover {
          background-color: var(--principal-color);
          color: #FFF;
          letter-spacing: 4px;
          font-size: 1.4rem;
        }

      }
    }
  }
}